<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Student Pets</title>

        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    </head>

    <body>
        <img src="{% static 'images/cats_with_fire.jpg' %}" alt="Cats and Fire Picture" />

        <h1>All the cats are:</h1>

        <div>
            {% if cats %}
                <ol id="cat_list">
                {% for cat in cats %}
                    <li>{{ cat.name }}</li>
                {% endfor %}
                </ol>
            {% else %}
                There are no cats
            {% endif %}
        </div>

        <div>
            <br />
            Click to go back
            <a href="/student_pets/">home</a><br />
        </div>
    </body>
</html>