<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Student Pets</title>

        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    </head>

    <body>
        <img src="{% static 'images/cats_with_fire.jpg' %}" alt="Cats and Fire Picture" />

        <h1>All the cats are:</h1>

        <div>
            Here's a cat! <br /><br />

        </div>

        <div>
            Click to go back
            <a href="/student_pets/">Home</a><br />
        </div>
    </body>
</html>