<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Student Pets</title>

        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    </head>

    <body>
        <img src="{% static 'images/cat.png' %}" alt="Cat Picture" />

        <h1>The Students and their cats are:</h1>

        <div>
            {% if students %}
                <ul id="students_list">
                {% for student in students %}

                    <li>
                    {{ student.forename }} {{ student.surname }} has
                    <strong id="cat_num">{{ student.catNum }}</strong>

                    {% if student.catNum == 1 %}
                        cat
                        </li>
                    {% else %}
                        cats
                        </li>
                    {% endif %}

                    <ul id="cats_list">
                    {% for cat in student.order_cats %}
                        <li id="cat_name">{{ cat }}</li>
                    {% endfor %}
                    </ul>
                    <br />

                {% endfor %}
                </ul>
            {% else %}
                There are <strong>no</strong> students
            {% endif %}


        </div>

        <div>
            <a href="/student_pets/about/">About Pets of Students</a><br />
        </div>
    </body>
</html>