<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Student Pets</title>

        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    </head>

    <body>
        <img src="{% static 'images/cat.png' %}" alt="Cat Picture" />

        <h1>The Students and their cats are:</h1>

        <div>
            People and cats here <br /><br />
            <strong>{{ boldmessage }}</strong> <br /><br />
        </div>

        <div>
            <a href="/student_pets/about/">About Pets of Students</a><br />
        </div>
    </body>
</html>