body {
    background-color: #ccccff;
    font-family: 'Arial';
}

h1 {
    font-family: 'Trebuchet MS';
}

a {
    text-decoration: underline;
    color: #294156;
}

a:hover {
    text-decoration: none;
    color: #416788;
}

a:active {
    text-decoration: underline;
    color: black;
}

#cat_list li {
  list-style-type: none;
  counter-increment: item;
  margin-bottom: 12px;
}

#cat_list li:before {
  content: counter(item);
  margin-right: 5px;
  font-size: 80%;
  background-color: #f9dd94;
  font-weight: bold;
  padding: 5px 8px 2px 8px;
  border-radius: 3px;
}

#cat_num:hover {
    color: #F75590;
}

#students_list {
    list-style-type: square;
}

#cats_list {
    list-style-type: "-";
}

#cat_name {
    padding-left: 5px;
}